<h1>Tourist details:</h1>
<h2>Tourist ID: <span style="color: green">{{tDetailsCtrl.tourist.id}}</span></h2>
<h3>First Name: <span style="color: green">{{tDetailsCtrl.tourist.firstName}}</span></h3>
<h3>Last Name: <span style="color: green">{{tDetailsCtrl.tourist.lastName}}</span></h3>
<h3>Gender: <span style="color: green">{{tDetailsCtrl.tourist.gender}}</span></h3>
<h3>Country: <span style="color: green">{{tDetailsCtrl.tourist.country}}</span></h3>
<h3>Note: <span style="color: green">{{tDetailsCtrl.tourist.note}}</span></h3>
<h3>Dat of Birth: <span style="color: green">{{tDetailsCtrl.tourist.dateOfBirth}}</span></h3>